@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


.spinerCode {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(+360deg);
  }
}


.nodes:nth-child(even){
  display: flex;
  flex-direction: row-reverse;
}

/* Style for text with background image */
/* .numberImg{
  background-image: url(https://images.pexels.com/photos/356056/pexels-photo-356056.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
} */




