@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.spinerCode {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(+360deg);
  }
}

.myfirstgridin{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

.reversingflex:nth-child(even) {
  display: flex;
  flex-direction: row-reverse;
}

@media only screen and (max-width: 468px) {
  .border-2ing {
    position: relative;
    left: -8%;
    width: 95%;
  }

  .reversingflex:nth-child(1),
  .reversingflex:nth-child(2),
  .reversingflex:nth-child(3),
  .reversingflex:nth-child(4) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .typographie {
    padding: 20px;
  }

  .typographie p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 884px) {
  .border-2ing {
    position: relative;
    left: -8%;
    width: 95%;
  }

 .mypadding{
  padding: 20px;
 }

  .typographie {
    padding: 20px;
  }

  .typographie p {
    font-size: 1rem;
  }
}
